services:
  db:
    image: postgres:15
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - aaa_db_volume:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3333:3333'
    environment:
      PORT: 3333
      NODE_ENV: development
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      DIRECT_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      SECRET_KEY: ${SECRET_KEY}
    depends_on:
      db:
        condition: service_healthy
    restart: always

  n8n:
    image: n8nio/n8n
    ports:
      - '5678:5678'
    volumes:
      - n8n_data:/home/node/.n8n
      - ./n8n/workflows:/files/workflows
    entrypoint: ["/bin/sh", "-c"]
    command: "n8n import:workflow --separate --input=/files/workflows && n8n start"
    depends_on:
      api:
        condition: service_started
    restart: always

volumes:
  aaa_db_volume:
  n8n_data:
